.chartreuse {
  background-color: chartreuse;
}
.mauve {
  background-color: rgb(127,0,255);
}

.maBibliotheque, .mesBoutons {
  display: flex;
}
.livreClass {
  padding: 5px;
  border: 1px solid black;
}

.aventure {
  background-color: lightcoral;
}
.fantaisie {
  background-color: lightcyan;  
}