/* You can add global styles to this file, and also import other style files */
* {
  margin: 0%;
  padding: 0%;
}

article {
  margin-top: 15px;
  section {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

    h3 {
      margin-bottom: 5px;
    }
  }
}
li {
  margin-left: 20px ;
}

button {
  padding: 5px 20px;

  margin: 0px 10px 0px 0px;
}